:root {
  --primary: #207DE9;
  --hoverbg: #116FDA;
  --subtitle: #6ADFD7;
  --foreground: #171717;
  --maincolor: #222222;
  --white: #fff;
  --gradientbg: linear-gradient(0deg, rgba(204, 228, 255, .3) 0%, rgba(204, 228, 255, .3) 100%), #FFF;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.nav-item a {
  font-size: 16px;
  color: var(--maincolor);
}

footer .nav-item a {
  font-size: 14px;
}

.footrow h5 {
  font-weight: 600;
  font-size: 22px;
}

.mainbtn {
  padding: 15px 30px;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;
  border: none;
}

.mainbtn:hover {
  background-color: var(--hoverbg);
}

section.banner {
  padding: 95px 0;
}

.banner-subheading {
  color: var(--subtitle);
  font-weight: 700;
}

.banner-heading {
  font-weight: 800;
  font-size: 63px;
}

.banner-description {
  font-size: 18px;
}

.banner form input {
  width: 60%;
  padding: 13px 0;
  border-radius: 5px;
  margin-right: -5px;
  border: none;
  outline: 0;
}

.header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  z-index: 999;
}

.scrollnav {
  padding: 16px 32px;
  background: var(--gradientbg);
  width: fit-content;
  border-radius: 50px;
  margin: auto;
}

.scrollnav li a {
  font-size: 18px;
  color: var(--maincolor);

  &:hover {
    color: var(--primary);
    font-weight: 600;
  }
}

.headcontent h2 {
  font-size: 46px;
  font-weight: 800;
}

.headcontent h2 span {
  color: var(--primary);
}

.headcontent p {
  font-size: 21px;
}

.setup h5 {
  font-size: 48px;
  font-weight: 800;
  color: var(--subtitle);
}

.setup p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.scrollnav .nav-pills .nav-link.active,
.scrollnav .nav-pills .show>.nav-link {
  color: var(--primary);
  background-color: transparent;
  font-weight: 600;
}

.scrollnav.sticky {
  position: fixed;
  top: 130px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

footer {
  position: relative;
  z-index: 99999;
  background: var(--white);
}

.bg-prime {
  background-color: var(--hoverbg);
}

.techtabs .nav-link {
  padding: 30px;
  box-shadow: 0 2px 24px 0 rgba(110, 123, 129, .2);
  border-radius: 16px;
  background: var(--white);
  color: var(--foreground);
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  font-size: 22px;
}

.techtabs .tab-pane {
  border-radius: 20px;
}

.techtabs .nav-link svg {
  margin-right: 10px;
}

.techtabs .tab-content p {
  font-size: 18px;
}

.resultsilder .slick-next:before,
.resultsilder .slick-prev:before {
  font-size: 50px !important;
  color: var(--maincolor) !important;

}

.resitem {
  font-size: 18px;
  color: var(--maincolor);
  padding: 40px;
  border-radius: 16px;
  background: var(--White);
  position: relative;
  border: 1px solid var(--primary)
}

.resultsilder .slick-slide {
  padding: 10px;
  margin-top: 20px;
}

.resultsilder .slick-prev {
  left: -50px !important;
}

.resultsilder .slick-next {
  right: -20px !important;
}

.resitem span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
  padding: 20px;
  border-radius: 16px 0px 16px 0px;
  background: var(--primary);
}

.resultsilder .slick-list,
.resultsilder button.slick-arrow {
  z-index: 0;
}

.resultsilder .chall {
  margin-top: 50px;
}

.resitem h4,
.resitem strong {
  text-transform: uppercase;
  font-weight: 600;
}

.resitem h6 {
  font-size: 35px;
  font-weight: bold;
  color: var(--subtitle);
}

.approch {
  margin-bottom: 70px;
}
.tabrow {
  border-radius: 16px;
  padding: 50px;
  background-color: rgba(204,228,255,.3);
}
.restabs .nav-item a {
  text-decoration: none;
  display: block;
  border:0px;
  padding: 33px;
  color: #6E7B81;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: -1.008px;
  border-radius: 16px;
}
.restabs .nav-tabs .nav-item.show .nav-link, .restabs .nav-tabs .nav-link.active {
  color: var(--primary);
  background: var(--gradientbg);
}
.restabs .tabrow h3, .infonav h3   {
  font-weight: 700;
  font-size: 30px;
}
.row.tabrow a, .infonav a{ font-weight: 700; }
.restabs .row.tabrow p, .row.tabrow a ,.infonav p, .infonav a{
  font-size: 20px;
}
.accinfoslider .slick-track {
  display: flex;
  justify-content: space-between;
}
.accinfoslider .slick-slide {
  padding: 20px;
}
.accinfoslider .slick-slide span {
  font-size: 28px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: -1.008px;
  border-radius: 16px;
  padding: 32px 24px;
  cursor: pointer;
  display: block;
}
.accinfoslider .slick-current div div > span {  border-radius: 16px; background:var(--gradientbg); display: block ; color: var(--primary);}

.infonav {
  margin: 20px 0;
  -webkit-box-shadow: 0 4px 48px 0 rgba(34,34,34,.15);
  -moz-box-shadow: 0 4px 48px 0 rgba(34,34,34,.15);
  box-shadow: 0 4px 48px 0 rgba(34,34,34,.15);
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  padding: 50px;
}


.form-wrap{
	background: rgba(255,255,255,1);
	width: 100%;
	max-width: 850px;
	padding: 50px;
	margin: 0 auto;
	position: relative;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-wrap:before{
	content: "";
	width: 90%;
	height: calc(100% + 60px);
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	top: -30px;
	background: var(--primary);
	z-index: -1;
	opacity: 0.8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.form-group{
	margin-bottom: 25px;
}
.form-group > label{
	display: block;
	font-size: 18px;	
	color: #000;
}
.custom-control-label{
	color: #000;
	font-size: 16px;
}
.form-control{
	height: 50px;
	background: #ecf0f4;
	border-color: transparent;
	padding: 0 15px;
	font-size: 16px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.form-control:focus{
	border-color:  var(--primary);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}
textarea.form-control{
	height: 160px;
	padding-top: 15px;
	resize: none;
}

.btn{
	padding: .657rem .75rem;
	font-size: 18px;
	letter-spacing: 0.050em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color:  var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  color:  var(--primary);
  background-color: #ffffff;
  border-color:  var(--primary);
	-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:focus, .btn-primary.focus {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #00bcd9;
  background-color: #ffffff;
  border-color: #00bcd9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

@media screen and (max-width:767px ) {

  section.banner {
    padding: 40px 0;
}

.banner-heading {
  font-weight: 800;
  font-size: 40px;
}
.banner-description, .headcontent p {
  font-size: 16px;
}
.banner-content form {
  display: flex;
}
.mainbtn {
  padding: 5px 15px;
}
 
.headcontent h2 {
  font-size: 34px;
}
.scrollnav.sticky {
  position: relative;
  width: 100%;
  padding: 10px 24px;
}
img.m-auto, img.pb-5 {
  width: 100%;
  height: 100%;
}
.counter {
  display: block !important;
  text-align: center;
}
.setup h5 {
  font-size: 35px;
}
.techtabs .nav-link {
  padding: 10px 20px;
  font-size: 18px;
}
.techtabs .tab-content p {
  font-size: 16px;
}
.px-5 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}
.p-5 {
  padding: 1rem!important;
}
.restabs .nav-item a {
  padding: 25px;
  font-size: 20px;
}
.tabrow, .infonav {
  padding: 25px;
}
.restabs .tabrow h3, .infonav h3 {
  font-size: 25px;
}
.restabs .row.tabrow p, .row.tabrow a, .infonav p, .infonav a {
  font-size: 16px;
}
.accinfoslider .slick-slide {
  padding: 5px;
}
.pt-5 {
  padding-top: 1rem!important;
}
.accinfoslider .slick-slide span {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
    padding: 15px;
  display: block;
}
.accinfoslider .slick-track {
  display: block;
  justify-content: center !important;
}
.slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
}